.calendar_container {
    width: 288px;
    border: 1px solid #000;
    margin-top: 50px;
}

.calendar_header {
    background-color: lightblue;
    padding: 10px;
}

.timeslots_container {
    position: relative;
}

.timeslot_row {
    height: 30px;
    border-bottom: 1px solid #e6e6e6;
}

.timeslot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
